.container {
  width: 1630px;
  margin: 0 auto;
}

/* topbar */
.topbar {
  height: 60px;
  background-color: #ececec;
}
.topbar-icon {
  height: 60px;
  line-height: 30px;
  margin-right: 30px;
}
.topbar-icon .logo{
  height: 60px;
  margin-right: 0px;
  vertical-align: middle;
}
.topbar-navigation .list {
  height: 60px;
  line-height: 60px;
}
.topbar-navigation .list li {
  float: left;
  padding: 0 15px;
  border-right: 1px solid #666;
}