.container {
  margin: 0 auto;
  padding: 20px;
}

p {
  color: #666;
  margin-bottom: 20px;
}

.video-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 50px;
  transition: box-shadow 0.3s ease;
  animation: fadeIn 1s;
}

th, td {
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  transition: all 0.3s ease-in-out;
  font-family: 'Roboto', sans-serif;
}

th {
  background: linear-gradient(to right, #6f99d4, #2a9ec1);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

td {
  background-color: #fff;
}

video {
  max-width: 60%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

td:hover {
  background-color: #f5f5f5;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
}

td:hover video {
  transform: scale(1.05);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
}

.video-grid a {
  color: #119379;
  text-decoration: none;
}

.video-grid a:hover {
  text-decoration: underline;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}