.tutorial {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tutorial article {
  background-color: #fff;
  padding: 2em;
  margin: 2em;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 75%;
}

.tutorial .Title {
  color: #333;
  font-size: 2em;
  margin-bottom: 0.5em;
  text-align: center;
}

.tutorial .Subtitle span {
  display: block;
  color: #777;
  font-size: 1.2em;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.tutorial .Text span {
  color: #666;
  line-height: 1.6;
  font-size: 1em;
}

.tutorial .Text a {
  color: #3498db;
  text-decoration: none;
}

.tutorial .Text a:hover {
  color: #2980b9;
}