.creators {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #ffffff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.creatorList {
  border-collapse: collapse; 
  width: 100%;
}

.creatorList thead {
  background-color: #333;
  color: white;
}

.creatorList th, 
.creatorList td {
  padding: 12px 15px;
  text-align: left;
}

.creatorList th {
  font-size: 36px;
}

.creatorList td {
  font-size: 24px;
}


.creatorList tbody tr {
  border-bottom: 1px solid #ddd;
}

.creatorList tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.creatorList tbody tr:last-of-type {
  border-bottom: 2px solid #black;
}

.creatorList tbody tr:hover {
  font-weight: bold;
  color: #009879;
}

.creatorList a {
  color: #a63f7b;
  text-decoration: none;
}

.creatorList a:hover {
  text-decoration: underline;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

/* Media queries for responsive design */
@media screen and (max-width: 768px) {
  gradio-app {
    height: 400px;
  }
}