.video-item {
  text-align: center;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 15px;
  margin: 10px;
  width: calc(33% - 20px);
  min-width: 300px;
  height: 300px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.video-item video {
  width: 100%;
  height: auto;
  max-height: 275px;
  object-fit: cover;
  margin-bottom: 10px;
}

.video-item:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.video-item h2, h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
